@font-face {
    font-family: "Librebaskerville";
    src: url(../fonts/LibreBaskerville-Regular.ttf);
}

:root {
    --bgcolor-container-yellow: #FEF8B1;
    --bgcolor-container-pink: #FDA7D4;
    --bgcolor-container-purpul: #CBB7FB;
    --bgcolor-menu: #FEFFC4;
    --bgcolor-grey: #D9D9D9;
    --bgcolor-footer: #2D2926;
}

body {
    font-family: Helvetica, Sans-Serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

p {
    font-size: 1.2em;
}

header {
    height: 70px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 99;
}

header img {
    height: 50px;
    padding: 10px 0 0 10px;

}

/* Nav bar */

nav,
#nav-checkbox {
    display: none;
}

#nav-checkbox:checked~nav {
    display: inline-block;
}

.fa-bars {
    font-size: 2em;
    position: absolute;
    top: 20px;
    right: 30px;

}

nav {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--bgcolor-menu);
    border-radius: 0 0 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    padding: 10px;
    margin: 0 20px;
}

.active {
    background: rgb(43, 246, 51);
    background: radial-gradient(circle, rgb(105, 249, 110) 0%, rgba(254, 255, 196, 1) 100%);
}

/* Nav bar end */

main {
    flex: 1;
}

h1 {
    color: #ffffff;
    font-size: 2em;
    padding: 50px;
    text-decoration: underline;
    max-width: 350px;
    margin: 0;
}

h1,
h2,
nav {
    font-family: "Librebaskerville", serif;
}

.index h1 {
    font-size: 1.1em;
    text-decoration: none;
    margin: 0 auto;
}

.hero_container {
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.65);
}

.index {
    background-image: url(/images/scott-webb-102825-min.jpg);
}

.explore {
    background-image: url(/images/samuel-zeller-158996-min.jpg);
}

.exhibition {
    background-image: url(/images/exhibition-1863344_1920-min.jpg);
}

.events {
    background-image: url(/images/toa-heftiba-412579-min.jpg);
}

.visit {
    background-image: url(/images/library-1132573_1920-min.jpg);
}

.getinvolved {
    background-image: url(/images/scientific-2040795_1280-min.jpg);
}

.content_container {
    margin: 30px;
    padding: 10px;
}

.content_container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content_container,
.content_container img {
    border-radius: 20px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.info_container {
    margin: 0;
    padding: 10px 20px;
}

.grey {
    background-color: var(--bgcolor-grey);
}

/* Explore mini menu */

.kids {
    background-image: url(/images/reading-2762010_1280-min.jpg);
}

.teachers {
    background-image: url(/images/learn-2405206_1920-min.jpg);
}

.researchers {
    background-image: url(/images/people-219985_1280.jpg);
}

.picture_box {

    height: 300px;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    text-align: center;
    max-width: 200px;
}

.picture_box p {
    padding-top: 220px;
    font-size: 1.2em;
    font-weight: bold;
    word-spacing: 350px;
}

.top_picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top_picture a {}

/* End Explore mini menu */

.purpul {
    background-color: var(--bgcolor-container-purpul);
}

.pink {
    background-color: var(--bgcolor-container-pink);
}

.yellow {
    background-color: var(--bgcolor-container-yellow);
}

iframe {
    width: 100%;
    height: 400px;
    border: 0;
}

footer {
    text-align: center;
    color: #fff;
    background-color: var(--bgcolor-footer);
    padding: 30px 15px;
}

footer p {
    margin: 0;
    padding-top: 30px;
    font-size: small;
}

.line {
    background-color: #fff;
    height: 2px;
    border-radius: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (min-width: 600px) {

    h1 {
        max-width: 550px;
    }

    .index h1 {
        font-size: 1.3em;
    }

    /* Nav bar */

    .fa-bars,
    #nav-checkbox,
    #fa {
        display: none;
    }

    nav {
        display: block;
        position: static;
        float: right;
        background-color: #fff;
        box-shadow: none;
        border-radius: 0;
        padding-right: 10px;
    }

    nav li {
        display: inline-block;
        margin: 0 auto;
        padding: 25.5px 2.5px;
    }

    nav a {
        font-size: 0.84em;
    }

    .active {
        background: radial-gradient(circle, rgb(176, 250, 179) 0%, rgb(255, 255, 255) 70%);
    }

    nav li:hover {
        background: radial-gradient(circle, var(--bgcolor-container-yellow) 0%, rgb(255, 255, 255) 70%);

    }


    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .content_container {
        display: flex;
        align-items: center;
        padding: 30px;
        gap: 20px;
    }

    .content_container img {
        height: 400px;

    }

    .content_container p {
        width: 90%;
    }

    .row {
        flex-direction: row;
    }

    .col {
        flex-direction: column;
    }

    .rev_row {
        flex-direction: row-reverse;
    }

    .rev_col {
        flex-direction: column-reverse;
    }


    .info_container {
        padding: 10px 200px;
    }

    .info_content {
        max-width: 600px;
        margin: 0 auto;
    }

    /* Grid setup */

    .grid {
        display: grid;
    }

    .vertica_img img {
        max-height: 150px;
    }

    /* Explore grid setup */

    .explore_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "kids kids"
            "teachers researchers"
            "teachers researchers";
    }

    #kids {
        grid-area: kids;
    }

    #teachers {
        grid-area: teachers;
    }

    #researchers {
        grid-area: researchers;
    }

    /* Explore grid setup end */

    /* Exhibition grid setup */

    .exhibition_grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "cosmology cosmology"
            "evolution biology"
            "evolution biology"
            "robotics ecology"
            "robotics ecology"
        ;
    }

    .cosmology {
        grid-area: cosmology;
    }

    .evolution {
        grid-area: evolution;
    }

    .biology {
        grid-area: biology;
    }

    .robotics {
        grid-area: robotics;
    }

    .ecology {
        grid-area: ecology;
    }

    /* Exhibition grid setup end */

    /* Events grid setup */

    .events_grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "news news night"
            "energetica energetica night"
        ;
    }

    .news {
        grid-area: news;
    }

    .night {
        grid-area: night;
    }

    .energetica {
        grid-area: energetica;
    }

    /* Events grid setup end */

}

@media (min-width: 800px) {

    /* nav bar */
    nav a {
        font-size: 1.26em;
    }

    nav li {
        padding: 22px 5px;
    }

    .picture_box {
        margin: 10px 30px;
    }

    .picture_box p {
        font-size: 1.3em;
    }

    h1 {
        max-width: 650px;
    }

}

@media (min-width: 1000px) {

    /* nav bar */

    nav {
        padding-right: 40px;
    }

    nav a {
        font-size: 1.4em;
    }

    nav li {
        padding: 21px 14.9px;
    }

    /* Nav bar end */

    h1 {
        max-width: 800px;
    }

    .index h1 {
        font-size: 1.5em;
    }

    .picture_box p {
        font-size: 1.5em;
    }

    /* Visit page */

    .visit_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "location admission"
            "access hours"
            "food shop"
        ;
        padding: 30px 0;
    }

    .info_container {
        padding: 40px;
    }

    .location {
        grid-area: location;
    }

    .admission {
        grid-area: admission;
        border-radius: 20px 20px 20px 0;

    }

    .hours {
        grid-area: hours;
    }

    .access {
        grid-area: access;
        border-radius: 20px 0 0 20px;
    }

    .food {
        grid-area: food;
    }

    .shop {
        grid-area: shop;
        border-radius: 0 20px 20px 20px;
    }

    .visit_grid .info_container {
        display: flex;
        align-items: center;
    }

    iframe {
        height: 300px;
    }

    /* Visit page end */

    .volunteer {
        border-radius: 20px;
    }
}