:root {
    --bgcolor-container-yellow: #FEF8B1;
    --bgcolor-container-pink: #FDA7D4;
    --bgcolor-container-purpul: #CBB7FB;
    --bgcolor-menu: #FEFFC4;
    --bgcolor-grey: #D9D9D9;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    display: flex;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 99;
}

header img {
    height: 50px;
    padding: 10px 0 0 10px;

}

/* Nav bar */

nav,
#nav-checkbox {
    display: none;
}

#nav-checkbox:checked~nav {
    display: inline-block;
}


.fa-bars {
    font-size: 2em;
    position: absolute;
    top: 20px;
    right: 30px;

}

nav {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: var(--bgcolor-menu);
    border-radius: 0 0 0 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav a {
    text-decoration: none;
    font-size: 2em;
    color: black;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    padding: 10px;
    margin: 0 20px;
}

/* Nav bar end */

main {
    flex: 1;
}

h1 {
    color: #ffffff;
    font-size: 1.5em;
    padding: 50px;
    text-decoration: underline;
    max-width: 350px;
    margin: 0;
}

.index h1 {
    font-size: 1.1em;
    text-decoration: none;
    margin: 0 auto;
}

.hero_container {
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.65);
}

.index {
    background-image: url(/images/scott-webb-102825-min.jpg);
}

.explore {
    background-image: url(/images/samuel-zeller-158996-min.jpg);
}

.exhibition {
    background-image: url(/images/exhibition-1863344_1920-min.jpg);
}

.events {
    background-image: url(/images/toa-heftiba-412579-min.jpg);
}

.visit {
    background-image: url(/images/library-1132573_1920-min.jpg);
}

.getinvolved {
    background-image: url(/images/scientific-2040795_1280-min.jpg);
}

.content_container {
    margin: 30px 10px;
    padding: 10px;
}

.content_container img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.content_container,
.content_container img {
    border-radius: 20px;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.info_container {
    margin: 10px;
    padding: 10px;
}

.grey {
    background-color: var(--bgcolor-grey);
    margin: 0;
    padding: 10px 20px;
}

/* Explore mini menu */

.kids {
    background-image: url(/images/reading-2762010_1280-min.jpg);
}

.teachers {
    background-image: url(/images/learn-2405206_1920-min.jpg);
}

.researchers {
    background-image: url(/images/people-219985_1280.jpg);
}

.picture_box {
    flex: 1;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.75);
    color: #ffffff;
    text-align: center;
}

.picture_box p {
    padding-top: 220px;
    font-size: 1.2em;
    font-weight: bold;
    word-spacing: 150px;
}

.top_picture {
    display: flex;
}

.top_picture a {
    flex: 1;
}

/* End Explore mini menu */



.purpul {
    background-color: var(--bgcolor-container-purpul);
}

.pink {
    background-color: var(--bgcolor-container-pink);
}

.yellow {
    background-color: var(--bgcolor-container-yellow);
}

iframe {
    width: 100%;
    height: 400px;
    border: 0;
}

footer {
    text-align: center;
}